@model C4_ChauSolution.Models.KhachHang

@{
    ViewData["Title"] = "KhachHang";
}

<h1>KhachHang</h1>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiKoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiKoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
