@model IEnumerable<C4_ChauSolution.Models.ChiTietSanPham>

@{
    ViewData["Title"] = "ShowListSp";
}
@{
    List<string> extensions = new List<string>()
    {
        ".png", ".jpg", ".jpeg", ".gif", ".pdf", ".raw", ".bmp", ".tif"
    };
}
@{
    int ass = 0;
}
<h1>ShowListSp</h1>

<p>
    <a asp-action="AddSp1">Create New</a>
</p>
<form class="d-flex" role="search" asp-controller="Home" asp-action="ShowListSp">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="namezzz">
    <button class="btn btn-outline-success" type="submit" >Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdChiTietSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoaiSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNhaCungCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDanhMuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDonVi)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.GiaNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                <span>So Luong * Gia Ban</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        @*if (item.SoLuong*item.GiaBan>1000000)
            {
                <tr style="background-color: yellow">
            <td>
                @Html.DisplayFor(modelItem => item.IdChiTietSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhaCungCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDonVi)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @{string a = System.IO.Path.GetExtension(item.HinhAnh);}
                    @if(@extensions.Contains(System.IO.Path.GetExtension(item.HinhAnh).Trim()))
                    {
                        <img src="/images/@item.HinhAnh" height="100">
                    }
                    else
                    {
                        <span>Ảnh lỗi rồi =)))</span>                       
                    }
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateSp", new { id=item.IdChiTietSP }) |
                @Html.ActionLink("Details", "DetailSp", new { id=item.IdChiTietSP }) |
                @Html.ActionLink("Delete", "DeleteSp", new { id=item.IdChiTietSP  })
            </td>
        </tr>
            }else
            {*@
                if (ass<3)
            {
                <tr>
            <td>
                <h3>@item.IdChiTietSP</h3>
            </td>
            <td>
                <h3>@item.TenLoaiSp</h3>
            </td>
            <td>
                <h3>@item.TenNhaCungCap</h3>
            </td>
            <td>
                <h3>@item.TenSp</h3>
            </td>
            <td>
                <h3>@item.TenDanhMuc</h3>
            </td>
            <td>
                <h3>@item.TenDonVi</h3>
            </td>
            
            <td>
                <h3>@item.GiaNhap</h3>
            </td>
            <td>
                <h3>@item.GiaBan</h3>
            </td>
            <td>
                <h3>@item.SoLuong</h3>
            </td>
            <td>
                @#if
                <h3>
                    
                </h3>
            </td>
            <td>
                @{string a = System.IO.Path.GetExtension(item.HinhAnh);}
                    @if(@extensions.Contains(System.IO.Path.GetExtension(item.HinhAnh).Trim()))
                    {
                        <img src="/images/@item.HinhAnh" height="100">
                    }
                    else
                    {
                        <span>Ảnh lỗi rồi =)))</span>                       
                    }
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateSp", new { id=item.IdChiTietSP }) |
                @Html.ActionLink("Details", "DetailSp", new { id=item.IdChiTietSP }) |
                @Html.ActionLink("Delete", "DeleteSp", new { id=item.IdChiTietSP  })
            </td>
                </tr>
                ass++;
            }
            else
            {
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdChiTietSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhaCungCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDonVi)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @{string a = System.IO.Path.GetExtension(item.HinhAnh);}
                    @if(@extensions.Contains(System.IO.Path.GetExtension(item.HinhAnh).Trim()))
                    {
                        <img src="/images/@item.HinhAnh" height="100">
                    }
                    else
                    {
                        <span>Ảnh lỗi rồi =)))</span>                       
                    }
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateSp", new { id=item.IdChiTietSP }) |
                @Html.ActionLink("Details", "DetailSp", new { id=item.IdChiTietSP }) |
                @Html.ActionLink("Delete", "DeleteSp", new { id=item.IdChiTietSP  })
            </td>
        </tr>
            }
            
            @*}*@
}
    </tbody>
</table>
