@model IEnumerable<C4_ChauSolution.Models.CartDetail>

@{
    ViewData["Title"] = "ShowListCart";
    var Sp = ViewData["SP"];
}

<h1>ShowListCart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdChiTietSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
         <tr>
             <td>
                    @Html.DisplayFor(modelItem => item.IdChiTietSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.ActionLink("Thanh Toan", "ThanhToan", new { id=item.IdChiTietSP }) |
                @Html.ActionLink("Delete", "XoaSPCart", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
